<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Bootstrap.Master.cs" Inherits="Web.MP.Bootstrap" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>
        <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Bootstrap 3.3.7 -->
    <link href="../App_Themes/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
    <link href="../App_Themes/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../App_Themes/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- AdminLTE -->
    <link href="../App_Themes/AdminLTE/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="../App_Themes/AdminLTE/css/skins/_all-skins.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="../styles/custom-styles.css" />

    <%--<!-- iCheck -->
    <link href="../App_Themes/plugins/iCheck/square/blue.css" rel="stylesheet" />--%>

    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
</head>
<body class="skin-blue layout-top-nav" style="height: auto; min-height: 100%;">
    <script src="http://code.jquery.com/jquery.js"></script>
    <form id="form1" runat="server">
        <div class="wrapper" style="height: auto; min-height: 100%;">

            <!-- Header -->
            <header class="main-header">
                <nav class="navbar navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#" class="navbar-brand"><b>Órdenes de </b>Pedido</a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>

                        <!-- User Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="../img/usuario.png" class="user-image" alt="User Image" />
                                        <asp:Label ID="lblUsuario" runat="server" CssClass="hidden-xs"></asp:Label>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-header">
                                            <img src="../img/usuario.png" class="img-circle" alt="User Image" />
                                            <p>
                                                <asp:Label ID="lblUsuario2" runat="server"></asp:Label>
                                            </p>
                                        </li>
                                        <li class="user-footer">
                                            <a href="../Logout.aspx" class="btn btn-default btn-block">Salir</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- Content -->
            <div class="content-wrapper" style="min-height: 330px;">
                <div class="container">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
                </div>
            </div>

            <!-- Footer -->
            <footer class="main-footer">
                <div class="container">
                    <div class="pull-right hidden-xs">
                        <b>Versión</b> 2.4.13
                    </div>
                    <strong>Copyright © <%= DateTime.Now.Year %>
                        <a href="https://adminlte.io">AdminLTE</a>.
                    </strong>Todos los derechos reservados.
                </div>
            </footer>
        </div>
        <asp:ContentPlaceHolder ID="ScriptsContent" runat="server"></asp:ContentPlaceHolder>
    </form>

    <!-- Scripts -->
    <script src="../App_Themes/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../App_Themes/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="../App_Themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <%--    <script src="../App_Themes/plugins/iCheck/icheck.min.js"></script>--%>
    <script src="../App_Themes/AdminLTE/js/adminlte.min.js"></script>
    <script src="../App_Themes/AdminLTE/js/pages/dashboard.js"></script>
    <script src="../App_Themes/AdminLTE/js/demo.js"></script>

    <%-- <!-- Inicialización de iCheck -->
    <script>
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // opcional
            });
        });
    </script>--%>
</body>
</html>
