<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="Data Source=10.0.0.8;Initial Catalog=SIIMVA;User ID=general" providerName="System.Data.SqlClient"/>
		<add name="Siimva" connectionString="Database=Siimva;Server=10.0.0.8;User ID=general;Password=;" providerName="System.Data.SqlClient"/>
		<add name="SIIMVAConnectionString" connectionString="Data Source=10.0.0.8;Initial Catalog=Siimva;Integrated Security=True"
		  providerName="System.Data.SqlClient"/>
		<add name="SIIMVAConnectionString1" connectionString="Data Source=10.0.0.8;Initial Catalog=SIIMVA;Integrated Security=True"
		  providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="path" value="LDAP://municipalidad.villaallende.gov.ar/DC=municipalidad, DC=villaallende, DC=gov, DC=ar"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="msjAfipVerificada" value="Factura/s constatada/s ante AFIP de manera automática"/>
		<add key="msjAfipNoVerificada"
		  value="Factura/s NO constatadas por ser orden con contrato, presupuesto u otro documento valido – se deberá cargar la Factura en la Orden de Pago."/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.6" />

		<!-- Límite de request (50 MB) -->
		<httpRuntime targetFramework="4.6" maxRequestLength="51200" executionTimeout="3600" />

		<authentication mode="Forms">
			<forms loginUrl="login.aspx" defaultUrl="login.aspx" timeout="60"/>
		</authentication>

		<authorization>
			<allow users="*"/>
		</authorization>

		<!-- Manejo de errores -->
		<customErrors mode="On" defaultRedirect="ErrorGeneral.aspx">
			<error statusCode="400" redirect="ErrorArchivos.aspx" />
		</customErrors>
	</system.web>

	<location path="Secure">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>

		<!-- Manejo de errores a nivel IIS -->
		<httpErrors errorMode="Custom">
			<remove statusCode="400" subStatusCode="-1" />
			<error statusCode="400" prefixLanguageFilePath="" path="/ErrorArchivos.aspx" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WSAFIPSoap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.0.0.200/WSAfip/WSAFIP.asmx" binding="basicHttpBinding" bindingConfiguration="WSAFIPSoap"
				contract="WSAFIP.WSAFIPSoap" name="WSAFIPSoap"/>
		</client>
	</system.serviceModel>
</configuration>